
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container{
    width: 400px;
}






#progress .times,
.card-footer,
.volume-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.volume-container i{
    margin-right: 5px;
}

li.playing{
    background-color: #0b5eb7;
    color: #fff;
}